/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body Styling */
  html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    color: #fff;
    background-color: #121212;
    display: flex;
    flex-direction: column;
  }
  