<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/body.css">
  <link rel="stylesheet" href="css/layout.css">
  <link rel="stylesheet" href="css/admin.css">
  <link rel="stylesheet" href="css/buttons.css">
  <title>Admin Panel</title>
</head>
<body>
  <header>
    <h1>Admin Panel</h1>
    <nav id="navigation">
      <a href="admin.html" class="active">Inventory</a>
      <a href="add-item.html">Add New Product</a>
      <a href="client.html">Clients</a>
      <a href="sales.html">Sales</a>
    </nav>
    <div class="user-auth">
      <button onclick="signOut()">Sign Out</button>
    </div>
    <script>
      function signOut(){
        sessionStorage.clear();
        window.location.href = "index.html";
      }
    </script>

  </header>

  <main>
    <div id="admin">
      <h2>Inventory Management</h2>
      <table>
        <thead>
          <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Description</th>
            <th>Stock</th>
            <th>Price</th>
            <th class="date-column">Date</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody id="inventory"></tbody>
      </table>

      <div class="update-form" id="update-form" style="display:none;">
        <div class="form-group">
          <label for="update-name">Name:</label>
          <input type="text" id="update-name">
        </div>
        <div class="form-group">
          <label for="update-description">Description:</label>
          <textarea id="update-description" rows="3"></textarea>
        </div>
        <div class="form-group">
          <label for="update-stock">Stock:</label>
          <input type="number" id="update-stock" min="0">
        </div>
        <div class="form-group">
          <label for="update-price">Price:</label>
          <input type="number" id="update-price" step="0.01" min="0">
        </div>
        <br>
        <div class="actions">
         <button id="save-update">Save Changes</button>
         <button id="cancel-update" type="button">Cancel</button>
      </div>
      </div>
      
      
  </main>

  <script src="js/admin.js"></script>
</body>
</html>
